<style>
    .detail {
        font: small-caps 13px/1.5em "幼圆", sans-serif;
        line-height: 1.8em;
        cursor: pointer;
    }

    table.dataintable {
        border-collapse: collapse;
        font-family: Futura, Arial, sans-serif;
    }

        table.dataintable caption {
            font-size: 15px;
            margin: 1em auto;
            font-weight: bold;
        }

        table.dataintable th {
            font-size: 15px;
            padding: .65em;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
            text-align: center;
        }

        table.dataintable td {
            font-size: 15px;
            padding: .65em;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
            text-align: center;
        }

    button {
        width: 80px;
        padding: 8px;
        background-color: #428bca;
        border-color: #357ebd;
        color: #fff;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        font-weight: 800;
        font-size: 100%;
    }
</style>

<script type="text/javascript">
    //离开界面提示
    //window.onbeforeunload = function (e) {
    //    var e = window.event || e;
    //    e.returnValue = ("确定离开当前页面吗？");
    //}
    $(function () {
        //改颜色
        document.getElementById('Advanced_id').style.background = '#48484A';
        document.getElementById('Advanced_id').style.borderButton = '1px solid ';
        document.getElementById('Advanced_id').style.padding = '7px 12px 17px 12px ';
        var oldValue = "0";
        $("input").focus(function () {
            oldValue = $(this).val();
        });

        $("input").blur(function () {
            var newValue = $(this).val();
            if (!isNaN(newValue)) {
                if (0 <= parseInt(newValue) && parseInt(newValue) <= 245) {
                    $(this).val() = parseInt(newValue);
                    return;
                }
                else {
                    alert("请输入0-255之间的整数");
                    $(this).val(oldValue);
                }
            }
            else {
                alert("请输入整数");
                $(this).val(oldValue);
            }
        });

        var va = getCookie("deviceID");
        var va1 = getCookie("fileName");
        $.ajax({
            url: '/AdvancedSetting/SendDataXJHF', //后台处理程序
            type: 'post',         //数据发送方式
            dataType: 'text',     //接受数据格式
            data: { deviceID: va, fileName: va1 },        //要传递的数据
            success: function (result) {

                var val = eval('(' + result + ')'); //把传过来的json字符串变换成json对象

                $('#xjhf1').val(val.xjhf1);
                $('#xjhf2').val(val.xjhf2);
                $('#xjhf3').val(val.xjhf3);
                $('#xjhf4').text(val.xjhf4);
                $('#xjhf5').text(val.xjhf5);
                $('#xjhf6').text(val.xjhf6);
                $('#xjhf7').text(val.xjhf7);
                $('#xjhf8').text(val.xjhf8);
                $('#xjhf9').text(val.xjhf9);
                $('#xjhf10').text(val.xjhf10);
                $('#xjhf11').text(val.xjhf11);
                $('#xjhf12').text(val.xjhf12);
                $('#xjhf13').text(val.xjhf13);
                $('#xjhf14').text(val.xjhf14);
                $('#xjhf15').text(val.xjhf15);
                $('#xjhf16').text(val.xjhf16);
                $('#xjhf17').text(val.xjhf17);
                $('#xjhf18').text(val.xjhf18);
                $('#xjhf19').text(val.xjhf19);
                $('#xjhf20').text(val.xjhf20);
                $('#xjhf21').text(val.xjhf21);
                $('#xjhf22').text(val.xjhf22);
                $('#xjhf23').text(val.xjhf23);
                $('#xjhf24').text(val.xjhf24);
                $('#xjhf25').text(val.xjhf25);
                $('#xjhf26').text(val.xjhf26);
                $('#xjhf27').text(val.xjhf27);
                $('#xjhf28').text(val.xjhf28);
                $('#xjhf29').text(val.xjhf29);
                $('#xjhf30').text(val.xjhf30);
                $('#xjhf31').text(val.xjhf31);
                $('#xjhf32').text(val.xjhf32);
                $('#xjhf33').text(val.xjhf33);
                $('#xjhf34').text(val.xjhf34);
                $('#xjhf35').text(val.xjhf35);
                $('#xjhf36').text(val.xjhf36);
                $('#xjhf37').text(val.xjhf37);
                $('#xjhf38').text(val.xjhf38);
                $('#xjhf39').text(val.xjhf39);
                $('#xjhf40').text(val.xjhf40);
                $('#xjhf41').text(val.xjhf41);
                $('#xjhf42').text(val.xjhf42);
                $('#xjhf43').text(val.xjhf43);
                $('#xjhf44').text(val.xjhf44);
                $('#xjhf45').text(val.xjhf45);
                $('#xjhf46').text(val.xjhf46);
                $('#xjhf47').text(val.xjhf47);
                $('#xjhf48').text(val.xjhf48);
                $('#xjhf49').text(val.xjhf49);
                $('#xjhf50').text(val.xjhf50);
                $('#xjhf51').text(val.xjhf51);
                $('#xjhf52').text(val.xjhf52);
                $('#xjhf53').text(val.xjhf53);
                $('#xjhf54').text(val.xjhf54);
                $('#xjhf55').text(val.xjhf55);
                $('#xjhf56').text(val.xjhf56);
                $('#xjhf57').text(val.xjhf57);
                $('#xjhf58').text(val.xjhf58);
                $('#xjhf59').text(val.xjhf59);
                $('#xjhf60').text(val.xjhf60);
                $('#xjhf61').text(val.xjhf61);
                $('#xjhf62').text(val.xjhf62);
                $('#xjhf63').text(val.xjhf63);
                $('#xjhf64').text(val.xjhf64);
                $('#xjhf65').text(val.xjhf65);
                $('#xjhf66').text(val.xjhf66);
                $('#xjhf67').text(val.xjhf67);
                $('#xjhf68').text(val.xjhf68);
                $('#xjhf69').text(val.xjhf69);
                $('#xjhf70').text(val.xjhf70);
                $('#xjhf71').text(val.xjhf71);
                $('#xjhf72').text(val.xjhf72);
                $('#xjhf73').text(val.xjhf73);
                $('#xjhf74').text(val.xjhf74);
                $('#xjhf75').text(val.xjhf75);
                $('#xjhf76').text(val.xjhf76);
                $('#xjhf77').text(val.xjhf77);
                $('#xjhf78').text(val.xjhf78);
                $('#xjhf79').text(val.xjhf79);
                $('#xjhf80').text(val.xjhf80);
                $('#xjhf81').text(val.xjhf81);
                $('#xjhf82').text(val.xjhf82);
                $('#xjhf83').text(val.xjhf83);
                $('#xjhf84').text(val.xjhf84);
                $('#xjhf85').text(val.xjhf85);
                $('#xjhf86').text(val.xjhf86);
                $('#xjhf87').text(val.xjhf87);
                $('#xjhf88').text(val.xjhf88);
                $('#xjhf89').text(val.xjhf89);
                $('#xjhf90').text(val.xjhf90);
                $('#xjhf91').text(val.xjhf91);
                $('#xjhf92').text(val.xjhf92);
                $('#xjhf93').text(val.xjhf93);
                $('#xjhf94').text(val.xjhf94);
            }
        });
    });
    function Calculate() {
        var xjhf1 = $("#xjhf1").val();
        var xjhf2 = $("#xjhf2").val();
        var xjhf3 = $("#xjhf3").val();
        var xjhf = [];
        for (var i = 0; i < xjhf3 + 1; i++) {
            xjhf[i] = xjhf1 * 1 + Math.floor(i * ((xjhf2 - xjhf1) / xjhf3));
            if (xjhf[i] >= xjhf2) {
                xjhf[i] = xjhf2;
            }
        }

        $("#xjhf4").text(xjhf[0]);
        $("#xjhf5").text(xjhf[1]);
        $("#xjhf6").text(xjhf[2]);
        $("#xjhf7").text(xjhf[3]);
        $("#xjhf8").text(xjhf[4]);
        $("#xjhf9").text(xjhf[5]);
        $("#xjhf10").text(xjhf[6]);
        $("#xjhf11").text(xjhf[7]);
        $("#xjhf12").text(xjhf[8]);
        $("#xjhf13").text(xjhf[9]);
        $("#xjhf14").text(xjhf[10]);
        $("#xjhf15").text(xjhf[11]);
        $("#xjhf16").text(xjhf[12]);
        $("#xjhf17").text(xjhf[13]);
        $("#xjhf18").text(xjhf[14]);
        $("#xjhf19").text(xjhf[15]);
        $("#xjhf20").text(xjhf[16]);
        $("#xjhf21").text(xjhf[17]);
        $("#xjhf22").text(xjhf[18]);
        $("#xjhf23").text(xjhf[19]);
        $("#xjhf24").text(xjhf[20]);
        $("#xjhf25").text(xjhf[21]);
        $("#xjhf26").text(xjhf[22]);
        $("#xjhf27").text(xjhf[23]);
        $("#xjhf28").text(xjhf[24]);
        $("#xjhf29").text(xjhf[25]);
        $("#xjhf30").text(xjhf[26]);
        $("#xjhf31").text(xjhf[27]);
        $("#xjhf32").text(xjhf[28]);
        $("#xjhf33").text(xjhf[29]);
        $("#xjhf34").text(xjhf[30]);
        $("#xjhf35").text(xjhf[31]);
        $("#xjhf36").text(xjhf[32]);
        $("#xjhf37").text(xjhf[33]);
        $("#xjhf38").text(xjhf[34]);
        $("#xjhf39").text(xjhf[35]);
        $("#xjhf40").text(xjhf[36]);
        $("#xjhf41").text(xjhf[37]);
        $("#xjhf42").text(xjhf[38]);
        $("#xjhf43").text(xjhf[39]);
        $("#xjhf44").text(xjhf[40]);
        $("#xjhf45").text(xjhf[41]);
        $("#xjhf46").text(xjhf[42]);
        $("#xjhf47").text(xjhf[43]);
        $("#xjhf48").text(xjhf[44]);
        $("#xjhf49").text(xjhf[45]);
        $("#xjhf50").text(xjhf[46]);
        $("#xjhf51").text(xjhf[47]);
        $("#xjhf52").text(xjhf[48]);
        $("#xjhf53").text(xjhf[49]);
        $("#xjhf54").text(xjhf[50]);
        $("#xjhf55").text(xjhf[51]);
        $("#xjhf56").text(xjhf[52]);
        $("#xjhf57").text(xjhf[53]);
        $("#xjhf58").text(xjhf[54]);
        $("#xjhf59").text(xjhf[55]);
        $("#xjhf60").text(xjhf[56]);
        $("#xjhf61").text(xjhf[57]);
        $("#xjhf62").text(xjhf[58]);
        $("#xjhf63").text(xjhf[59]);
        $("#xjhf64").text(xjhf[60]);
        $("#xjhf65").text(xjhf[61]);
        $("#xjhf66").text(xjhf[62]);
        $("#xjhf67").text(xjhf[63]);
        $("#xjhf68").text(xjhf[64]);
        $("#xjhf69").text(xjhf[65]);
        $("#xjhf70").text(xjhf[66]);
        $("#xjhf71").text(xjhf[67]);
        $("#xjhf72").text(xjhf[68]);
        $("#xjhf73").text(xjhf[69]);
        $("#xjhf74").text(xjhf[70]);
        $("#xjhf75").text(xjhf[71]);
        $("#xjhf76").text(xjhf[72]);
        $("#xjhf77").text(xjhf[76]);
        $("#xjhf78").text(xjhf[74]);
        $("#xjhf79").text(xjhf[75]);
        $("#xjhf80").text(xjhf[76]);
        $("#xjhf81").text(xjhf[77]);
        $("#xjhf82").text(xjhf[78]);
        $("#xjhf83").text(xjhf[79]);
        $("#xjhf84").text(xjhf[80]);
        $("#xjhf85").text(xjhf[81]);
        $("#xjhf86").text(xjhf[82]);
        $("#xjhf87").text(xjhf[83]);
        $("#xjhf88").text(xjhf[84]);
        $("#xjhf89").text(xjhf[85]);
        $("#xjhf90").text(xjhf[86]);
        $("#xjhf91").text(xjhf[87]);
        $("#xjhf92").text(xjhf[88]);
        $("#xjhf93").text(xjhf[89]);
        $("#xjhf94").text(xjhf[80]);
    }
    function postDataXJHF() {
        var xjhf1 = $("#xjhf1").val();
        var xjhf2 = $("#xjhf2").val();
        var xjhf3 = $("#xjhf3").val();
        var xjhf4 = $("#xjhf4").text();
        var xjhf5 = $("#xjhf5").text();
        var xjhf6 = $("#xjhf6").text();
        var xjhf7 = $("#xjhf7").text();
        var xjhf8 = $("#xjhf8").text();
        var xjhf9 = $("#xjhf9").text();
        var xjhf10 = $("#xjhf10").text();
        var xjhf11 = $("#xjhf11").text();
        var xjhf12 = $("#xjhf12").text();
        var xjhf13 = $("#xjhf13").text();
        var xjhf14 = $("#xjhf14").text();
        var xjhf15 = $("#xjhf15").text();
        var xjhf16 = $("#xjhf16").text();
        var xjhf17 = $("#xjhf17").text();
        var xjhf18 = $("#xjhf18").text();
        var xjhf19 = $("#xjhf19").text();
        var xjhf20 = $("#xjhf20").text();
        var xjhf21 = $("#xjhf21").text();
        var xjhf22 = $("#xjhf22").text();
        var xjhf23 = $("#xjhf23").text();
        var xjhf24 = $("#xjhf24").text();
        var xjhf25 = $("#xjhf25").text();
        var xjhf26 = $("#xjhf26").text();
        var xjhf27 = $("#xjhf27").text();
        var xjhf28 = $("#xjhf28").text();
        var xjhf29 = $("#xjhf29").text();
        var xjhf30 = $("#xjhf30").text();
        var xjhf31 = $("#xjhf31").text();
        var xjhf32 = $("#xjhf32").text();
        var xjhf33 = $("#xjhf33").text();
        var xjhf34 = $("#xjhf34").text();
        var xjhf35 = $("#xjhf35").text();
        var xjhf36 = $("#xjhf36").text();
        var xjhf37 = $("#xjhf37").text();
        var xjhf38 = $("#xjhf38").text();
        var xjhf39 = $("#xjhf39").text();
        var xjhf40 = $("#xjhf40").text();
        var xjhf41 = $("#xjhf41").text();
        var xjhf42 = $("#xjhf42").text();
        var xjhf43 = $("#xjhf43").text();
        var xjhf44 = $("#xjhf44").text();
        var xjhf45 = $("#xjhf45").text();
        var xjhf46 = $("#xjhf46").text();
        var xjhf47 = $("#xjhf47").text();
        var xjhf48 = $("#xjhf48").text();
        var xjhf49 = $("#xjhf49").text();
        var xjhf50 = $("#xjhf50").text();
        var xjhf51 = $("#xjhf51").text();
        var xjhf52 = $("#xjhf52").text();
        var xjhf53 = $("#xjhf53").text();
        var xjhf54 = $("#xjhf54").text();
        var xjhf55 = $("#xjhf55").text();
        var xjhf56 = $("#xjhf56").text();
        var xjhf57 = $("#xjhf57").text();
        var xjhf58 = $("#xjhf58").text();
        var xjhf59 = $("#xjhf59").text();
        var xjhf60 = $("#xjhf60").text();
        var xjhf61 = $("#xjhf61").text();
        var xjhf62 = $("#xjhf62").text();
        var xjhf63 = $("#xjhf63").text();
        var xjhf64 = $("#xjhf64").text();
        var xjhf65 = $("#xjhf65").text();
        var xjhf66 = $("#xjhf66").text();
        var xjhf67 = $("#xjhf67").text();
        var xjhf68 = $("#xjhf68").text();
        var xjhf69 = $("#xjhf69").text();
        var xjhf70 = $("#xjhf70").text();
        var xjhf71 = $("#xjhf71").text();
        var xjhf72 = $("#xjhf72").text();
        var xjhf73 = $("#xjhf73").text();
        var xjhf74 = $("#xjhf74").text();
        var xjhf75 = $("#xjhf75").text();
        var xjhf76 = $("#xjhf76").text();
        var xjhf77 = $("#xjhf77").text();
        var xjhf78 = $("#xjhf78").text();
        var xjhf79 = $("#xjhf79").text();
        var xjhf80 = $("#xjhf80").text();
        var xjhf81 = $("#xjhf81").text();
        var xjhf82 = $("#xjhf82").text();
        var xjhf83 = $("#xjhf83").text();
        var xjhf84 = $("#xjhf84").text();
        var xjhf85 = $("#xjhf85").text();
        var xjhf86 = $("#xjhf86").text();
        var xjhf87 = $("#xjhf87").text();
        var xjhf88 = $("#xjhf88").text();
        var xjhf89 = $("#xjhf89").text();
        var xjhf90 = $("#xjhf90").text();
        var xjhf91 = $("#xjhf91").text();
        var xjhf92 = $("#xjhf92").text();
        var xjhf93 = $("#xjhf93").text();
        var xjhf94 = $("#xjhf94").text();

        
        var va = getCookie("deviceID");
        var va1 = getCookie("fileName");
        $.ajax({
            url: '/AdvancedSetting/postDataXJHF', //后台处理程序
            type: 'post',         //数据发送方式
            dataType: 'text',     //接受数据格式
            data: {
                deviceID: va, fileName: va1,
                xjhf1: xjhf1, xjhf2: xjhf2, xjhf3: xjhf3, xjhf4: xjhf4, xjhf5: xjhf5,
                xjhf6: xjhf6, xjhf7: xjhf7, xjhf8: xjhf8, xjhf9: xjhf9, xjhf10: xjhf10,
                xjhf11: xjhf11, xjhf12: xjhf12, xjhf13: xjhf13, xjhf14: xjhf14, xjhf15: xjhf15,
                xjhf16: xjhf16, xjhf17: xjhf17, xjhf18: xjhf18, xjhf19: xjhf19, xjhf20: xjhf20,
                xjhf21: xjhf21, xjhf22: xjhf22, xjhf23: xjhf23, xjhf24: xjhf24, xjhf25: xjhf25,
                xjhf26: xjhf26, xjhf27: xjhf27, xjhf28: xjhf28, xjhf29: xjhf29, xjhf30: xjhf30,
                xjhf31: xjhf31, xjhf32: xjhf32, xjhf33: xjhf33, xjhf34: xjhf34, xjhf35: xjhf35,
                xjhf36: xjhf36, xjhf37: xjhf37, xjhf38: xjhf38, xjhf39: xjhf39, xjhf40: xjhf40,
                xjhf41: xjhf41, xjhf42: xjhf42, xjhf43: xjhf43, xjhf44: xjhf44, xjhf45: xjhf45,
                xjhf46: xjhf46, xjhf47: xjhf47, xjhf48: xjhf48, xjhf49: xjhf49, xjhf50: xjhf50,
                xjhf51: xjhf51, xjhf52: xjhf52, xjhf53: xjhf53, xjhf54: xjhf54, xjhf55: xjhf55,
                xjhf56: xjhf56, xjhf57: xjhf57, xjhf58: xjhf58, xjhf59: xjhf59, xjhf60: xjhf60,
                xjhf61: xjhf61, xjhf62: xjhf62, xjhf63: xjhf63, xjhf64: xjhf64, xjhf65: xjhf65,
                xjhf66: xjhf66, xjhf67: xjhf67, xjhf68: xjhf68, xjhf69: xjhf69, xjhf70: xjhf70,
                xjhf71: xjhf71, xjhf72: xjhf72, xjhf73: xjhf73, xjhf74: xjhf74, xjhf75: xjhf75,
                xjhf76: xjhf76, xjhf77: xjhf77, xjhf78: xjhf78, xjhf79: xjhf79, xjhf80: xjhf80,
                xjhf81: xjhf81, xjhf82: xjhf82, xjhf83: xjhf83, xjhf84: xjhf84, xjhf85: xjhf85,
                xjhf86: xjhf86, xjhf87: xjhf87, xjhf88: xjhf88, xjhf89: xjhf89, xjhf90: xjhf90,
                xjhf91: xjhf91, xjhf92: xjhf92, xjhf93: xjhf93, xjhf94: xjhf94
            },        //要传递的数据
            success: function (result) {
                if (result == "Success") {
                    alert("提交成功！");
                }
                else {
                    alert("提交失败！");
                }
            }
        });
    }
</script>

<div class="easyui-layout" style="width: 100%; height: 100%; border: 1px solid #484A56" data-options="fit:true">
    <!--左边布局-->
    <div region="west" style="width:200px; padding:2px;" title="高级设置" split="true">
        <div id="aa" class="easyui-accordion" style="width:auto;height:auto">
            <div title="背景板" iconCls="icon-ok" style="overflow:auto;padding:10px">
                <a href="/AdvancedSetting/AdvancedSetting" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">背景板</a>
            </div>
            <div title="VGA设定" iconCls="icon-ok" style="padding:10px">
                <a href="/AdvancedSetting/VGASet" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">VGA设定</a>
            </div>
            <div title="形选设置" iconCls="icon-ok" style="padding:10px">
                <a href="/AdvancedSetting/TypeSelectionSet" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">形选设置</a> <br>
                <a href="/AdvancedSetting/TypeSelectionSensitivity" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">形选灵敏度</a> <br>
                <a href="/AdvancedSetting/AreaFine" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">面积微调设置</a><br>
                <a href="/AdvancedSetting/GrayIgnore" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">灰度忽略</a>
             </div>
            <div title="延迟设定" iconCls="icon-ok" style="padding:10px">
                <a href="/AdvancedSetting/DelaySet" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">延迟设定</a>
            </div>
            <div title="增益设定" iconCls="icon-ok" style="padding:10px" >
                <a href="/AdvancedSetting/RGainSet" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">R增益</a><br>
                <a href="/AdvancedSetting/GGainSet" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">G增益</a><br>
                <a href="/AdvancedSetting/BGainSet" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">B增益</a>
            </div>
            <div title="采图设置" iconCls="icon-ok" style="padding:10px">
                <a href="/AdvancedSetting/CollectPictureSet" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">采图设置</a>
            </div>
            <div title="平移设定" iconCls="icon-ok" style="padding:10px">
                <a href="/AdvancedSetting/TranslationSet" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">平移设定</a>
            </div>
            <div title="相机划分" iconCls="icon-ok" style="padding:10px" selected="true">
                <a href="/AdvancedSetting/CameraDivision" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">相机划分</a>
            </div>
            <div title="日期设定" iconCls="icon-ok" style="padding:10px">
                <a href="/AdvancedSetting/ChangeDate" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">日期设定</a>
            </div>
        </div>
    </div>
    <!--中间布局-->
    <div region="center" style="width: 100%; float: left; background: #333743">
        <div id="tt" class="easyui-tabs" style="width:700px;height:250px" fit="true">
            <div title="相机划分" style="padding:10px" data-options="closable:true">
                <center>
                    起始 <input type="text" maxlength="5" title="请输入0-65535之间的整数" id="xjhf1" />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    截止 <input type="text" maxlength="5" title="请输入0-65535之间的整数" id="xjhf2" />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    单元数 <input type="text" maxlength="5" title="请输入0-65535之间的整数" id="xjhf3" />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button class="submit" onclick="Calculate()">确定修改</button>&nbsp&nbsp&nbsp&nbsp
                    <button class="submit" onclick="postDataXJHF()">提交</button>
                </center>
                <table class="dataintable" align="center">

                    <caption>相机划分</caption>

                    <tbody>
                        <tr style="font-weight: bold">
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">1</td>
                            <td id="xjhf4" style="width:50px"></td>
                            <td id="xjhf5" style="width:50px"></td>
                            <td id="xjhf6" style="width:50px"></td>
                            <td id="xjhf7" style="width:50px"></td>
                            <td id="xjhf8" style="width:50px"></td>
                            <td id="xjhf9" style="width:50px"></td>
                            <td id="xjhf10" style="width:50px"></td>
                            <td id="xjhf11" style="width:50px"></td>
                            <td id="xjhf12" style="width:50px"></td>
                            <td id="xjhf13" style="width:50px"></td>
                            <td id="xjhf14" style="width:50px"></td>
                            <td id="xjhf15" style="width:50px"></td>
                            <td id="xjhf16" style="width:50px"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">2</td>
                            <td id="xjhf17" style="width:50px"></td>
                            <td id="xjhf18" style="width:50px"></td>
                            <td id="xjhf19" style="width:50px"></td>
                            <td id="xjhf20" style="width:50px"></td>
                            <td id="xjhf21" style="width:50px"></td>
                            <td id="xjhf22" style="width:50px"></td>
                            <td id="xjhf23" style="width:50px"></td>
                            <td id="xjhf24" style="width:50px"></td>
                            <td id="xjhf25" style="width:50px"></td>
                            <td id="xjhf26" style="width:50px"></td>
                            <td id="xjhf27" style="width:50px"></td>
                            <td id="xjhf28" style="width:50px"></td>
                            <td id="xjhf29" style="width:50px"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">3</td>
                            <td id="xjhf30" style="width:50px"></td>
                            <td id="xjhf31" style="width:50px"></td>
                            <td id="xjhf32" style="width:50px"></td>
                            <td id="xjhf33" style="width:50px"></td>
                            <td id="xjhf34" style="width:50px"></td>
                            <td id="xjhf35" style="width:50px"></td>
                            <td id="xjhf36" style="width:50px"></td>
                            <td id="xjhf37" style="width:50px"></td>
                            <td id="xjhf38" style="width:50px"></td>
                            <td id="xjhf39" style="width:50px"></td>
                            <td id="xjhf40" style="width:50px"></td>
                            <td id="xjhf41" style="width:50px"></td>
                            <td id="xjhf42" style="width:50px"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">4</td>
                            <td id="xjhf43" style="width:50px"></td>
                            <td id="xjhf44" style="width:50px"></td>
                            <td id="xjhf45" style="width:50px"></td>
                            <td id="xjhf46" style="width:50px"></td>
                            <td id="xjhf47" style="width:50px"></td>
                            <td id="xjhf48" style="width:50px"></td>
                            <td id="xjhf49" style="width:50px"></td>
                            <td id="xjhf50" style="width:50px"></td>
                            <td id="xjhf51" style="width:50px"></td>
                            <td id="xjhf52" style="width:50px"></td>
                            <td id="xjhf53" style="width:50px"></td>
                            <td id="xjhf54" style="width:50px"></td>
                            <td id="xjhf55" style="width:50px"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">5</td>
                            <td id="xjhf56" style="width:50px"></td>
                            <td id="xjhf57" style="width:50px"></td>
                            <td id="xjhf58" style="width:50px"></td>
                            <td id="xjhf59" style="width:50px"></td>
                            <td id="xjhf60" style="width:50px"></td>
                            <td id="xjhf61" style="width:50px"></td>
                            <td id="xjhf62" style="width:50px"></td>
                            <td id="xjhf63" style="width:50px"></td>
                            <td id="xjhf64" style="width:50px"></td>
                            <td id="xjhf65" style="width:50px"></td>
                            <td id="xjhf66" style="width:50px"></td>
                            <td id="xjhf67" style="width:50px"></td>
                            <td id="xjhf68" style="width:50px"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">6</td>
                            <td id="xjhf69" style="width:50px"></td>
                            <td id="xjhf70" style="width:50px"></td>
                            <td id="xjhf71" style="width:50px"></td>
                            <td id="xjhf72" style="width:50px"></td>
                            <td id="xjhf73" style="width:50px"></td>
                            <td id="xjhf74" style="width:50px"></td>
                            <td id="xjhf75" style="width:50px"></td>
                            <td id="xjhf76" style="width:50px"></td>
                            <td id="xjhf77" style="width:50px"></td>
                            <td id="xjhf78" style="width:50px"></td>
                            <td id="xjhf79" style="width:50px"></td>
                            <td id="xjhf80" style="width:50px"></td>
                            <td id="xjhf81" style="width:50px"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">7</td>
                            <td id="xjhf82" style="width:50px"></td>
                            <td id="xjhf83" style="width:50px"></td>
                            <td id="xjhf84" style="width:50px"></td>
                            <td id="xjhf85" style="width:50px"></td>
                            <td id="xjhf86" style="width:50px"></td>
                            <td id="xjhf87" style="width:50px"></td>
                            <td id="xjhf88" style="width:50px"></td>
                            <td id="xjhf89" style="width:50px"></td>
                            <td id="xjhf90" style="width:50px"></td>
                            <td id="xjhf91" style="width:50px"></td>
                            <td id="xjhf92" style="width:50px"></td>
                            <td id="xjhf93" style="width:50px"></td>
                            <td id="xjhf94" style="width:50px"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>