
<style type="text/css">
    table.dataintable {
        border-collapse: collapse;
        font-family: Futura, Arial, sans-serif;
    }

        table.dataintable caption {
            font-size: 15px;
            margin: 1em auto;
            font-weight: bold;
        }

        table.dataintable th {
            font-size: 15px;
            padding: .65em;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
            text-align: center;
        }

        table.dataintable td {
            font-size: 15px;
            padding: .65em;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
            text-align: center;
        }

    #aa {
        font: small-caps 13px/2em bold "幼圆", sans-serif;
        line-height: 1.8em;
        text-indent: 2em;
        color: #0f3ba3;
    }
</style>

<script>
    // 打开一个 web socket
    $(function () {
        document.getElementById('Serve_id').style.background = '#48484A';
        document.getElementById('Serve_id').style.borderButton = '1px solid ';
        document.getElementById('Serve_id').style.padding = '7px 12px 17px 12px ';
        $("#deviceID").val(getCookie("deviceID"));
        //$("#serverIP").val("ws://127.0.0.1:9999/");
        //$("#fileCode").val(0);
    });
    //var ws;
    //function ToggleConnectionClicked() {
    //    try {
    //        ws = new WebSocket($("#serverIP").val());//连接服务器
    //        ws.onopen = function () { alert("已经与服务器建立了连接\r\n当前连接状态：" + this.readyState); };
    //        ws.onmessage = function (event) { alert("接收到服务器发送的数据：\r\n" + event.data); };
    //        ws.onclose = function (event) { alert("已经与服务器断开连接\r\n当前连接状态：" + this.readyState); };
    //        ws.onerror = function (event) { alert("WebSocket异常！"); };
    //    } catch (ex) {
    //        alert(ex.message);
    //    }
    //};
    Date.prototype.Format=function(fmt){
        var o = {
            "y+": this.getYear(),//年
            "M+":this.getMonth()+1,//月
            "d+":this.getDate(),//日
            "H+":this.getHours(),//时
            "m+":this.getMinutes(),//分
            "s+":this.getSeconds(),//秒
            "f+": this.getMilliseconds()//毫秒
        };
        if(/(y+)/.test(fmt)) fmt=fmt.replace(RegExp.$1,(this.getFullYear()+"").substr(4-RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };
    function SendData() {
        var deviceID = $("#deviceID").val();
        var fileCode = $("#fileCode").val();
        var AdminName=getCookie("AdminName");
        var SendTime = new Date().Format("yyyy-MM-dd HH:mm:ss.fff");
        setCookie("SendTime", SendTime);
        $.ajax({
            url: '/ConnectServer/VerifyDevice', //后台处理程序
            type: 'post',         //数据发送方式
            dataType: 'text',     //接受数据格式
            data: { AdminName: AdminName, SendTime: SendTime, deviceID: deviceID },        //要传递的数据
            success: function (result) {
                if (result == "Success") {
                    alert("已发送！");
                }
                else {
                    alert("指令发送失败！");
                }
            }
        });

    };
    //function SendData() {
    //    var deviceID = $("#deviceID").val();
    //    var fileCode = $("#fileCode").val();
    //    $.ajax({
    //        url: '/ConnectServer/VerifyDevice', //后台处理程序
    //        type: 'post',         //数据发送方式
    //        dataType: 'text',     //接受数据格式
    //        data: { deviceID: deviceID },        //要传递的数据
    //        success: function (result) {
    //            if (result == "Success") {
    //                try {
    //                    ws.send(deviceID + "-" + fileCode);
    //                } catch (ex) {
    //                    alert(ex.message);
    //                }
    //            }
    //            else {
    //                alert("此设备未连接！");
    //            }
    //        }
    //    });

    //};

    function seestate() {
        var SendTime =getCookie("SendTime");
        $.ajax({
            url: '/ConnectServer/QuerySend', //后台处理程序
            type: 'post',         //数据发送方式
            dataType: 'text',     //接受数据格式
            data: { SendTime: SendTime },        //要传递的数据
            success: function (result) {
                var val = eval('(' + result + ')'); //把传过来的json字符串变换成json对象
                alert(val.SendResult);
            }
        });
    }
</script>

<div class="easyui-layout" style="width: 100%; height: 100%; border: 1px solid #484A56" data-options="fit:true">
    <!--左边布局-->
    <div region="west" style="width:200px; padding:2px;" title="服务" split="true">
        <div id="aa" class="easyui-accordion" style="width:auto;height:auto">
            <div title="远程通信" iconCls="icon-ok" style="overflow:auto;padding:10px" selected="true">
                <a href="/ConnectServer/connServer" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">远程通信</a> <br>
            </div>
            <div title="设备管理" iconCls="icon-ok" style="padding:10px">
                <a href="/ConnectServer/deviceManage" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">设备管理</a> <br>
            </div>
            <div title="用户管理" iconCls="icon-ok" style="padding:10px">
                <a href="/ConnectServer/UserManage" style="line-height: 150%; font-size: 14px; font-family: YouYuan; text-decoration: none">用户管理</a> <br>
            </div>
        </div>
    </div>
    <!--中间布局-->
    <div region="center" style="width: 100%; float: left; background: #333743;">
        <div id="tt" class="easyui-tabs" style="width:700px;height:250px" fit="true">
            <div title="远程通信" style="padding:10px" data-options="closable:false">

                <table class="dataintable" align="center">
                    <caption style="color: #15181d; font-weight: 900; font-size: 25px;text-align:center;letter-spacing:5px; ">远程通信界面</caption>
                    <tbody>
                        <tr>
                            <td>设备ID:
                            <td><input type="text" value="" id="deviceID" />
                    </tbody>
                </table>
                <div style="text-align:center">
                    <br />
                    <br />
                    <br />
                    <br />
                    <button type="button" onclick="SendData();" style="width:100px;height:40px;">发送</button>
                    <br />
                    <br />
                    <br />
                    <button type="button" onclick="seestate();" style="width:100px;height:40px; ">查看发送状态</button>
                </div>
            </div>
        </div>
    </div>
</div>




