
<style type="text/css">
    .detail {
        font: small-caps 13px/1.5em "幼圆", sans-serif;
        line-height: 1.8em;
        cursor: pointer;
    }

    table.dataintable {
        border-collapse: collapse;
        font-family: Futura, Arial, sans-serif;
    }

        table.dataintable caption {
            font-size: 15px;
            margin: 1em auto;
            font-weight: bold;
        }

        table.dataintable th {
             font-size: 15px;
            padding: .65em;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
            text-align: center;
        }

        table.dataintable td {
             font-size: 15px;
            padding: .65em;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
            text-align: center;
        }
              #aa {
        font: small-caps 13px/2em bold "幼圆", sans-serif;
        line-height: 1.8em;
        text-indent: 2em;
        color: #0f3ba3;
    }
    button {
        width: 60px;
        padding: 8px;
        background-color: #428bca;
        border-color: #357ebd;
        color: #fff;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        font-weight: 800;
        font-size: 105%;
    }
</style>

<script>
    $(function () {
        //主Tab 状态设置
        document.getElementById('Testing_id').style.background = '#48484A';
        document.getElementById('Testing_id').style.borderButton = '1px solid ';
        document.getElementById('Testing_id').style.padding = '7px 12px 17px 12px ';
        var oldValue = "0";
        $("input").focus(function () {
            oldValue = $(this).val();
        });

        $("#famen1").blur(function () {
            var newValue = $(this).val();
            if (!isNaN(newValue)) {
                if (1 <= parseInt(newValue) && parseInt(newValue) <= 10) {
                    $(this).val() = parseInt(newValue);
                    return;
                }
                else {
                    alert("请输入1-10之间的整数");
                    $(this).val(oldValue);
                }
            }
            else {
                alert("请输入整数");
                $(this).val(oldValue);
            }
        });
        $("#famen2").blur(function () {
            var newValue = $(this).val();
            if (!isNaN(newValue)) {
                if (1 <= parseInt(newValue) && parseInt(newValue) <= 64) {
                    $(this).val() = parseInt(newValue);
                    return;
                }
                else {
                    alert("请输入1-64之间的整数");
                    $(this).val(oldValue);
                }
            }
            else {
                alert("请输入整数");
                $(this).val(oldValue);
            }
        });
        $("#famen3,#famen4,#famen5,#famen6,#famen7").blur(function () {
            var newValue = $(this).val();
            if (!isNaN(newValue)) {
                if (0 <= parseInt(newValue) && parseInt(newValue) <= 255) {
                    $(this).val() = parseInt(newValue);
                    return;
                }
                else {
                    alert("请输入0-255之间的整数");
                    $(this).val(oldValue);
                }
            }
            else {
                alert("请输入整数");
                $(this).val(oldValue);
            }
        });

        var va = getCookie("deviceID");
        var va1 = getCookie("fileName");
        $.ajax({
            url: '/ValveTesting/SendData', //后台处理程序
            type: 'post',         //数据发送方式
            dataType: 'text',     //接受数据格式
            data: { deviceID: va, fileName: va1 },        //要传递的数据
            success: function (result) {

                var val = eval('(' + result + ')'); //把传过来的json字符串变换成json对象

                $('#famen1').val(val.famen1);
                $('#famen2').val(val.famen2);
                $('#famen3').val(val.famen3);
                $('#famen4').val(val.famen4);
                $('#famen5').val(val.famen5);
                $('#famen6').val(val.famen6);
                $('#famen7').val(val.famen7);

            }
        });
    });
    function postData() {
        var famen1 = $("#famen1").val();
        var famen2 = $("#famen2").val();
        var famen3 = $("#famen3").val();
        var famen4 = $("#famen4").val();
        var famen5 = $("#famen5").val();
        var famen6 = $("#famen6").val();
        var famen7 = $("#famen7").val();

        var va = getCookie("deviceID");
        var va1 = getCookie("fileName");
        $.ajax({
            url: '/ValveTesting/postData', //后台处理程序
            type: 'post',         //数据发送方式
            dataType: 'text',     //接受数据格式
            data: {
                deviceID: va, fileName: va1,
                famen1: famen1, famen2: famen2, famen3: famen3, famen4: famen4, famen5: famen5, famen6: famen6, famen7: famen7
            },        //要传递的数据
            success: function (result) {
                if (result == "Success") {
                    alert("提交成功！");
                }
                else {
                    alert("提交失败！");
                }
            }
        });
    }
</script>

<div class="easyui-layout" style="width: 100%; height: 100%; border: 1px solid #484A56" data-options="fit:true">
    <!--左边布局-->
    <div region="west" style="width:200px; padding:2px;" title="修改说明" split="true">
        <div id="aa" style="width:auto;height:auto">
            <p>请在右侧输入框内修改，修改后点击确定。各选项取值范围如下</p>
            <p>1.道位（1-10）</p>
            <p>2.孔位（1-64）</p>
            <p>3.速度（0-255）</p>
            <p>4.一次开阀（0-255）</p>
            <p>5.二次开阀（0-255）</p>
            <p>6.三次开阀（0-255）</p>
            <p>7.开阀周期（0-255）</p>
            <p>祝您使用愉快。</p>
        </div>
    </div>
    <!--中间布局-->
    <div region="center" style="width: 100%; float: left; background: #333743">
        <div id="tt" class="easyui-tabs" style="width:700px;height:250px" fit="true">
            <div title="阀门测试" style="padding:10px" data-options="closable:false">
                <table class="dataintable" align="center">

                    <caption>阀门测试</caption>

                    <tbody>
                        <tr>
                            <td>1
                            <td>道位
                            <td><input type="text" value="" id="famen1" />
                            <td>
                        <tr>
                            <td>2
                            <td>孔位
                            <td><input type="text" value="" id="famen2" />
                            <td>
                        <tr>
                            <td>3
                            <td>速度
                            <td><input type="text" value="" id="famen3" />
                            <td>
                        <tr>
                            <td>4
                            <td>一次开阀
                            <td><input type="text" value="" id="famen4" />
                            <td>
                        <tr>
                            <td>5
                            <td>二次开阀
                            <td><input type="text" value="" id="famen5" />
                            <td>
                        <tr>
                            <td>6
                            <td>三次开阀
                            <td><input type="text" value="" id="famen6" />
                            <td>
                        <tr>
                            <td>7
                            <td>开阀周期
                            <td>
                                <input type="text" value="" id="famen7" />
                                <button id="submit" onclick="postData()" style="position:absolute; right:300px; ">确定</button>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

